.env
__pycache__
active_users.json
logs/
.venv/
.venv/Lib/
.venv/Scripts/
.venv/pyvenv.cfg
dndwebapp_proj/backend/data/characters/
dndwebapp_proj/backend/data/chats/
ImplementationPlan.md

# Frontend
**/node_modules/
**/dist/
.eslintcache

# OS files
.DS_Store
Thumbs.db
